.greeting{
    font-size: 12px;
    font-style: normal;
    color: dimgrey;
    padding-left: 10px;
    padding-right: 10px;
}

.log-in, .log-out{
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    color: dimgray;
}