.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

aside {
  float: left;
  width: 20%;
  background-color: #eeeeee;
  padding: 10px;
  height: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}
.main-section{
  height: 100%;
}

.chatroom-messages {
}

.nav-bar {
  padding: 10px;
  border: 20px;
}

.current-chat-message{
    padding: 5px;
    border: 5px;
}

input {
  width: 50%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
