.column-left{
  float: left;
  width: 35%;
  height: 800px;
  background-color: white;
  max-width: 30%;
  overflow-x: auto;
  text-align: center;
}

.column-right{
  float: left;
  width: 70%;
  height: 800px;
  overflow-y: scroll;
  background-color: #DDE1EB;
}

.column-left, .column-right{
  font-family: lato;
}

.app-title{
  font-size: 32px;
  color: dimgrey;
  font-weight: 300;
}

.active-chatroom > h2{
  background-color: whitesmoke;
  height: 60px;
  margin-top: 0px;
  padding-top: 20px;
}