.App {
  text-align: center;
  font-family: sans-serif;
  height: 600px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.left-column{
  float: left;
  width: 30%;
  height: 600px;
  background-color: aliceblue;
  max-width: 30%;
  overflow-x: auto;
  text-align: center;
}

.right-column{
  width: 70%;
  height: 600px;
  overflow-y: scroll;
  position: relative;
}
input {
  width: 50%;
}
.message-submit-form{
  position: relative;
  bottom: 0;

}

.main-section{
  height: 100%;
}

.chatroom-messages {
  text-align: center;
}

.nav-bar {
  padding: 10px;
  border: 20px;

}

.current-chat-message{
    padding: 5px;
    border: 5px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
